/* SideBar */
.ContentWrapper{
    max-width: 100%;;
}

.escudos{
    display: flex;
    flex-direction: row;
    border: solid rgba(0, 0, 0, 0.989);
    width: -moz-fit-content;
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    justify-content: space-evenly
    
}

.argentinos{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.atleticotucuman{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.banfield{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.barracascentral{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.riestra{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.gimnasiadelaplata{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.huracan{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.independiente{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.independienterivadavia{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.instituto{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.river{
    width: 25px;
    height: 25px;
    margin: 5px;
}

.rosariocentral{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.talleres{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.velez{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.belgrano{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.boca{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.centralcordoba{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.defensayjusticia{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.estudiantesdelaplata{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.godoycruz{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.lanus{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.newells{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.platense{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.racing{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.sanlorenzo{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.sarmiento{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.tigre{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.union{
    width: 25px;
    height: 25px;
    margin: 5px;
}

/* ContentWrapper */


/* Header */

.tituloA{
    font-size: 24px;
  font-weight: bold;
  color: #f2ff00;
  text-align: center;
  margin-top: 20px;
  text-shadow: 0 0 10px #000000, 0 0 20px #000000;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  }

 /* Body */
 
  Body{
    background-color: rgb(82, 219, 219);
}

.conteiner_argentinos{

    DISPLAY: FLEX;
    margin-top: 50px;
    border: solid;
    justify-content: flex-start;
    background-color: #fff;
    text-align: center;
}
.img_argentinos{
    width: 100px;
    height: 100px;
    margin: 4px;
}